# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [77]:
import pandas as pd
import numpy as np

ins_df=pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
ins_df2=pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv')
ins_df3=pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv')

print("ins_df shape:",ins_df.shape)
print("ins_df columns:",ins_df.columns)
print(" ")

print("ins_df2 shape:",ins_df2.shape)
print("ins_df2 columns:",ins_df2.columns)

print(" ")
print("ins_df3 shape:",ins_df3.shape)
print("ins_df3 columns:",ins_df3.columns)

#It seems the first and second .csv files have the same columns but in different order.
#Let's realign columns before concatenating both dataframes.
ins_df2 = ins_df2.reindex(columns=ins_df.columns)
ins_df12 = pd.concat([ins_df,ins_df2],axis=0)

#Column names of the third .csv file have a different format.
#Let's clean column names, and then re-order them before concatenating both dataframes

ins_df12.columns=[x.lower() for x in ins_df12.columns]
ins_df12.rename(columns={"st":"state"},inplace=True)

ins_df3.columns=[x.lower() for x in ins_df3.columns]

print("ins_df12 columns:",ins_df12.shape)
print("ins_df12 columns:",ins_df12.columns)

ins_df3 = ins_df3.reindex(columns=ins_df12.columns)

ins_df123 = pd.concat([ins_df12,ins_df3],axis=0)
print(" ")
print("ins_df123 shape:",ins_df123.shape)
print("ins_df123 columns:",ins_df123.columns)

ins_df123.reset_index(drop=True)

ins_df shape: (4008, 11)
ins_df columns: Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

ins_df2 shape: (996, 11)
ins_df2 columns: Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

ins_df3 shape: (7070, 11)
ins_df3 columns: Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')
ins_df12 columns: (5004, 11)
ins_df12 columns: Index(['customer', 'state', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'vehicle class', 'total claim amount'],
      dtype='object')

ins_df123 shape: (12074, 11)
ins_df123 columns: Index(['customer', 'state', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'vehicle class', 'total claim amount'],
      dtype='object')

,customer,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
12069,LA72316,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
12070,PK87824,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
12071,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
12072,UP19263,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
12073,Y167826,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [162]:
customer_analysis_df=pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv')

customer_analysis_df.head()


tt_revenue_pivot_df=customer_analysis_df.pivot_table(index='sales_channel',values=['monthly_premium_auto'], aggfunc='sum')
tt_revenue_pivot_df = tt_revenue_pivot_df.round(2)
print(tt_revenue_pivot_df)

customer_analysis_df.columns

c_lifetime_pivot_df=customer_analysis_df.pivot_table(index='gender',columns='education',values=['customer_lifetime_value'], aggfunc='mean')
c_lifetime_pivot_df = c_lifetime_pivot_df.round(2)

#desired_order = ['High School or Below','College','Bachelor','Master', 'Doctor']
#c_lifetime_pivot_df = c_lifetime_pivot_df.reindex(columns=desired_order)

print(c_lifetime_pivot_df)

#Average customer lifetime value is the highest for female customers with a high school or below level education.
#Average customer lifetime value is the lowest for female customer with a doctor level of education.
#For customers with a master level of education, male and female have a similar average customer lifetime value.

               monthly_premium_auto
sales_channel
Agent                        386335
Branch                       280953
Call Center                  197970
Web                          151511
          customer_lifetime_value                                         \
education                Bachelor  College   Doctor High School or Below
gender
F                         7874.27  7748.82  7328.51              8675.22
M                         7703.60  8052.46  7415.33              8149.69


education   Master
gender
F          8157.05
M          8168.83

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [206]:
print(customer_analysis_df.columns)


#pd.to_datetime(customer_analysis_df['effective_to_date'])
#customer_analysis_df.dtypes
#customer_analysis_df["month_test"] = customer_analysis_df.to_datetime(customer_analysis_df.effective_to_date,format='%m')

customer_analysis_df.pivot_table(index='policy_type',columns='month',values='number_of_open_complaints',aggfunc='sum')

customer_analysis_df.groupby(['policy_type','month'])['month'].sum()

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

policy_type     month
Corporate Auto  1        1252
                2        2178
Personal Auto   1        4329
                2        7598
Special Auto    1         237
                2         408
Name: month, dtype: int64